.App {
  text-align: center;
}

.header img{
  background-size: cover;
  max-width: 100%;
}

.header h1{
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3% 7%;
 
}

.categories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 15% 0 15%;
}

.button{
  border: solid .1em black;
  padding: 3%;
  margin: 0 2%;
  text-align: center;
}

.button:hover{
  background-color: #7E1F23;
}

.currentMovie{
  margin: 0 0 0 5%;
  border: solid .17em #7E1F23;
  padding: 3%;
  background-color: silver;
}

.currentMovie img{
  height: 45vh;
  border: black solid .15em;
}

.movie{
  margin: 0 5% 2% 0;
  border: solid .17em #7E1F23;
}

.movie:hover{
  background-color: silver;
}

.selectImg{
  border: .15em black solid;
  width: 70%;
  height: 50%;
}



.search{
  margin:0;
}