.App {
  text-align: center;
  background-color: black;

}

.header img{
  background-size: cover;
  max-width: 100%;
}

h1,h2,h3,h4{
  font-family: 'Manrope', sans-serif;
}

p{
  font-family: 'PT Serif', serif;
}

.header h1{
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:silver;
  
}

.title{
  color: silver;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3% 7%;
 
}

.categories{
  display: grid;
  grid-template: repeat(1, 2fr) / repeat(2,1fr) ;
  margin: 0 15% 0 15%;

}




.button{
  border: solid .1em black;
  padding: 4%;
  margin: 2% 2%;
  text-align: center;
  background-color: silver;
  
}

.button:hover{
  background-color: #7E1F23;
}

.currentMovie{
  margin: 0 0 0 5%;
  border: solid .17em #7E1F23;
  padding: 3%;
  background-color: #7E1F23;
}

.currentMovie img{
  max-height: 45vh;
  max-width: 20vh;
  border: black solid .15em;
}

.movie{
  margin: 0 5% 2% 0;
  border: solid .17em #7E1F23;
  background-color: #7E1F23;
}

.movie:hover{
  background-color: #DCDCDC;
}



.search{
  margin:0;
}

.search input{
  height: 1.5em;
  font-size: 1em;
}

@media only screen and (min-width: 768px){

  .categories{ 
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .currentMovie img{
    max-height: 80vh;
    max-width: 50vh;
  }

}