.App {
  text-align: center;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.categories{
  display: flex;
  justify-content: space-around;
  margin: 0 15% 2% 15%;
}

.button{
  border: solid .1em black;
  padding: 3%
}

.button:hover{
  background-color: lightseagreen;
}

.currentMovie img{
  height: 75vh;
}